@model IEnumerable<HumanResourcesAGC.Models.JobHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Job Histories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by employee name: <input type="text" name="SearchString" />
            <input type="submit" value="Search" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobTitle)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.EmployeeID, id2=item.JobID, id3=item.DepartmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID, id2=item.JobID, id3=item.DepartmentID })
            </td>
        </tr>
}
    </tbody>
</table>
